.Imgcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  border-style: outset;
  border-width: 4px;
  border-color:#a54b15 ; 
}

.Imgcard img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}


.Imgcard button {
  border: none;
  outline: 0;
  padding: 4px;
  color: #ffc900;
  background-color: #7d3c08;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-style: outset;
  border-width: 4px;
  border-color:#a54b15 ; 
}

.Imgcard button:hover {
  opacity: 0.7;
}